.container {
  width: 300px;
  max-width: 768px;
  margin: 0 auto;
  background-color: rgb(15, 195, 99);
}
@media (max-width: 1024px) {
    .container {
      max-width: 1000px;
        background-color: violet;
          min-width: 900px;
    }
}


@media (max-width: 768px) {
  .container {
     max-width: 1000px;
        background-color: bisque;
          min-width: 786px;
  }
}

@media (max-width: 640px) {
  .container {
     max-width: 680px;
      background-color: aliceblue;
      min-width: 650px;
  }
}



