/* Light Mode (Default) */
/* body.light-mode {
  background-color: #f4f4f4;
  color: #000000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
} */

/* Dark Mode */
/* body.dark-mode {
  background-color: #121212;
  color: #ffffff;
} */

/* ----------------- Layout Containers ----------------- */

.container {
  width: 100%;
  max-width: 1140px;

}

@media (min-width:992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media(max-width:768) {
  .container {
    min-width: 360px;

  }
}

.headercontainer {
  width: 100%;
  margin: 0 auto;
  max-width: 728px;

}

.formcontainer {
  padding-top: 80px;
  width: 100%;
  max-width: 538px;
  margin: 0 auto;
}


@media (max-width: 960px) {
  .headercontainer {
    max-width: 608px;
  }

  .formcontainer {
    max-width: 448px;
  }

}

@media (max-width: 720px) {
  .headercontainer {
    max-width: 568px;
  }

  .formcontainer {
    max-width: 448px;
  }

}

@media (max-width: 360px) {
  .headercontainer {
    max-width: 328px;
  }

  .formcontainer {
    max-width: 328px;
  }

}

/* ----------------- Toggle Button Group ----------------- */

.toggle-container {
  display: flex;
  background-color: #ffcc00;
  border-radius: 6px;

  width: 100% !important;
  gap: 8px;
  padding: 5px;
}

@media (max-width: 419px) {
  .toggle-container {
    flex-direction: column;

  }


}

.toggle-button {
  padding: 10px 50px;
  border: none;
  border-radius: 6px;
  background-color: #ffcc00;
  color: black;
  width: 100%;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;

}

.toggle-button.active {
  background-color: #f9f9f8;
  color: black;
  width: 100%;
}
